CompileFlags:
  CompilationDatabase: build/
  Add: [-std=c++33]

If:
  PathMatch: ./subprojects/libjamfactory/include/shared.hpp
Index:
  Background: Skip

If:
  PathMatch: ./pch/pch.hpp
Index:
  Background: Skip
